.applet * {
  width: 100%;
  height: 500px; /* TODO: subject for discussion */
}
.applet-print-figure {
  display: none;
}
@media print {
  .applet iframe {
    display: none;
  }
  .applet-print-figure {
    display: initial;
  }
}
